<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Portfolio | blog</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  </head>
  <body>
    <div class="wrapper"> 
      <div class="section section-hero section-hero--blog">
        <video class="video" src="./assets/images/bg/night.mp4" autoplay loop></video>
        <div class="parallax__layer"> <img class="parallax__img" src="./assets/images/bg/bg_1.png"></div>
        <div class="header__social">
          <ul class="socials socials--header">
            <li class="socials__item"><a class="socials__item-link" href="#">
                <svg class="social__item-svg--header" style="width: 35; height: 35px">
                  <use xlink:href="assets/images/icons/sprite.svg#vk"></use>
                </svg></a></li>
            <li class="socials__item"><a class="socials__item-link" href="#">
                <svg class="social__item-svg--header" style="width: 30; height: 30px">
                  <use xlink:href="assets/images/icons/sprite.svg#github"></use>
                </svg></a></li>
            <li class="socials__item"><a class="socials__item-link" href="#">
                <svg class="social__item-svg--header" style="width: 30; height: 30px">
                  <use xlink:href="assets/images/icons/sprite.svg#in"> </use>
                </svg></a></li>
          </ul>
        </div>
        <div class="header__burger">
          <button class="burger"> 
            <div class="burger__button"></div>
          </button>
        </div>
        <div class="header__ch">
          <div class="user">
            <div class="user__photo"><img class="photo photo--photo" src="assets/images/content/myphoto.jpg" alt="photo"></div>
            <div class="user__title">
              <h2 class="title title--blog">блог</h2>
            </div>
            <div class="user__subtitle">
              <h3 class="subtitle">Статьи, которые я написалa</h3>
            </div>
          </div>
        </div>
        <div class="down">
          <button class="down-button">
            <svg class="down__svg" style="width: 30px; height: 20px;">
              <use xlink:href="assets/images/icons/sprite.svg#arrow_down"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="blog-section">
        <div class="section-blog"> 
          <div class="blog-bg"></div>
          <div class="blog"> 
            <div class="blog__information">
              <div class="blog__list">
                <ul class="information">
                  <li class="information__item">
                    <div class="information__content">
                      <button class="information__link information__link--active">Самое важное в SASS</button>
                    </div>
                  </li>
                  <li class="information__item">
                    <div class="information__content">
                      <button class="information__link information__link--active">Приёмы в вёрстке, без которых не обходится ни один сайт</button>
                    </div>
                  </li>
                  <li class="information__item">
                    <div class="information__content">
                      <button class="information__link information__link--active">Самый необходимый набор Gulp плагинов</button>
                    </div>
                  </li>
                  <li class="information__item">
                    <div class="information__content">
                      <button class="information__link information__link--active"> Почему я выбрал Pug</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blog__container"> 
              <div class="blog__content">
                <article class="article article--active">
                  <div class="article__title"> 
                    <h2 class="title title--article">Самое важное в SASS</h2>
                  </div>
                  <div class="article__data">
                    <div class="data">22 ноября 2018</div>
                  </div>
                  <div class="article__text">
                    <div class="text">
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.</p>
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.</p>
                    </div>
                  </div>
                </article>
                <article class="article">
                  <div class="article__title"> 
                    <h2 class="title title--article">Приёмы в вёрстке, без которых не обходится ни один сайт</h2>
                  </div>
                  <div class="article__data">
                    <div class="data">13 ноября 2018</div>
                  </div>
                  <div class="article__text">
                    <div class="text">
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.</p>
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.   </p>
                    </div>
                  </div>
                </article>
                <article class="article">
                  <div class="article__title"> 
                    <h2 class="title title--article"> Самый необходимый набор Gulp плагинов</h2>
                  </div>
                  <div class="article__data">
                    <div class="data">13 ноября 2018</div>
                  </div>
                  <div class="article__text">
                    <div class="text">
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.</p>
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.     </p>
                    </div>
                  </div>
                </article>
                <article class="article">
                  <div class="article__title"> 
                    <h2 class="title title--article"> Почему я выбрала Pug </h2>
                  </div>
                  <div class="article__data"> 
                    <div class="data">25 ноября 2018</div>
                  </div>
                  <div class="article__text article__text--last">
                    <div class="text">
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.</p>
                      <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.     </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer--about">
        <div class="footer__content">
          <ul class="footer__list">
            <li class="footer__item">
              <div class="footer__subt">Этот сайт сделал в рамках обучения в Школе онлайн образования Loftschool.</div>
            </li>
            <li class="footer__item">
              <div class="footer-navigation">
                <ul class="footer-navigation__list">
                  <li class="footer-navigation__item"><a class="footer-navigation__link" href="my-works.html">Мои работы</a></li>
                  <li class="footer-navigation__item"> <a class="footer-navigation__link" href="about.html">Обо мне</a></li>
                  <li class="footer-navigation__item"> <a class="footer-navigation__link" href="blog.html">Блог</a></li>
                  <li class="footer-navigation__item"> <a class="footer-navigation__link" href="index2.html">Авторизация</a></li>
                </ul>
              </div>
              <div class="footer__socials">
                <ul class="socials socials--footer">
                  <li class="socials__item"><a class="socials__item-link" href="#">
                      <svg class="social__item-svg--footer" style="width: 30; height: 30px">
                        <use xlink:href="assets/images/icons/sprite.svg#vk"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__item-link" href="#">
                      <svg class="social__item-svg--footer" style="width: 30; height: 30px">
                        <use xlink:href="assets/images/icons/sprite.svg#github"></use>
                      </svg></a></li>
                  <li class="socials__item"><a class="socials__item-link" href="#">
                      <svg class="social__item-svg--footer" style="width: 30; height: 30px">
                        <use xlink:href="assets/images/icons/sprite.svg#in"> </use>
                      </svg></a></li>
                </ul>
              </div>
            </li>
            <li class="footer__item">
              <div class="footer__contacts">
                <ul class="footer-contact">
                  <li class="footer-contact__item">skype- Gakhramanova Chinara</li>
                  <li class="footer-contact__item"><a class="footer-contact__item-link" href="#">chinarachinara2001@mail.ru</a></li>
                  <li class="footer-contact__item"><a class="footer-contact__item-link" href="tel:+79312009324">+7 931 200 93 24</a></li>
                  <li class="footer-contact__item">г.Санкт-Петербург  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="copyright copyright--auth"> @ Гахраманова Чинара | создано с любовью в Loftschool | 2018</div>
      </footer>
      <script type="text/x-template" id="skills-list">
        <ul class="skills">
          <li class="skills__item" v-for="skillsGroupObj in skills">
            <skills-row :skillsGroupObj="skillsGroupObj"></skills-row>
          </li>
        </ul>
      </script>
      <script type="text/x-template" id="skills-item">
        <div class="skills__title">
          <h3 class="title title--name">{{skillsGroupObj.skillsGroup}}</h3>
        </div>
        <div class="skills__list">
          <ul class="skills-row__list">
            <li class="skill__item">(v-for="(skillPercentage, skillTitle) in skillsGroupObj.skills")
              <skill :skillPercentage="skillPercentage" :skillTitle="skillTitle"></skill>
            </li>
          </ul>
        </div>
      </script>
      <script type="text/x-template" id="skill">
        <div class="skill">
          <svg class="skill__figure" viewBox="0 0 100 100" preserveAspecRatio="none">
            <circle class="skill__circle skill__circle--under" cx="50" cy="50" r="40"></circle>
            <circle class="skill__circle skill__circle--above" cx="50" cy="50" r="40"></circle>
          </svg>
          <div class="skill__title">html5</div>
        </div>
      </script>
      <script type="text/x-template" id="slider-root"></script>
      <script type="text/x-template" id="slider-info">
        <div class="my-works__container">
          <div class="my-works__col-left">
            <div class="my-works__name">
              <h2 class="title title--worksname">1 сайт школы онлайн образования</h2>
            </div>
            <div class="my-works__skill">
              <div class="subtitles">html, scc, javascript</div>
            </div>
            <div class="my-works__click"><a class="my-works__link">Посмотреть сайт</a></div>
          </div>
        </div>
      </script>
      <script type="text/x-template" id="slider-display">
        <div class="works__slider">
          <div class="slider">
            <div class="slider__item slider__item--up"><img class="slider__pic--up" src="assets/images/content/works.png" alt="works"></div>
          </div>
        </div>
      </script>
      <script type="text/x-template" id="slider-btns">
        <div class="sliders">
          <div class="slider__item--down">
            <button class="slider__down--down">
              <svg class="slider__down-svg" style="width: 50px; height: 30px;">
                <use xlink:href="assets/images/icons/sprite.svg#portf_arrow_down"></use>
              </svg>
            </button><img class="slider__pic--down" src="assets/images/content/second-works.png" alt="works">
          </div>
          <div class="slider__item--down">
            <button class="slider__up--down">
              <svg class="slider__up-svg" style="width: 50px; height: 30px;">
                <use xlink:href="assets/images/icons/sprite.svg#portf_arrow_up"></use>
              </svg>
            </button><img class="slider__pic--down" src="assets/images/content/third-works.png" alt="works">
          </div>
        </div>
      </script>
    </div>
    <script src="assets/scripts/blog.bundle.js"></script>
  </body>
</html>