.section.section-hero.section-hero--blog
    include header2
    .header__ch
        .user
            .user__photo
                img.photo.photo--photo(src="assets/images/myphoto.jpg", alt="photo")      
            .user__title
                h2.title.title--blog блог
            .user__subtitle
                h3.subtitle Статьи, которые я написалa
    .down
        button.down-button
            svg.down__svg(style="width: 30px; height: 20px;")
                use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
.blog-section
    //- .blog__bg
    //-     svg.blog__bg-svg(style="width: 100%; height: 400px;")
    //-        use(xlink:href="assets/images/icons/sprite.svg#bg")
    .section-blog 
        .blog-bg
        .blog 
            .blog__information
                .blog__list
                    ul.information
                        li.information__item
                            .information__content
                                button.information__link.information__link--active Самое важное в SASS
                        li.information__item
                            .information__content
                                button.information__link.information__link--active Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.information__item
                            .information__content
                                button.information__link.information__link--active Самый необходимый набор Gulp плагинов
                        li.information__item
                            .information__content
                                button.information__link.information__link--active  Почему я выбрал Pug
            .blog__container 
                .blog__content
                    .article.article--active
                        .article__title 
                            .title.title--article Самое важное в SASS
                        .article__data
                            .data 22 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                    .article
                        .article__title 
                            .title.title--article Приёмы в вёрстке, без которых не обходится ни один сайт
                        .article__data
                            .data 13 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.   
                    .article
                        .article__title 
                            .title.title--article  Самый необходимый набор Gulp плагинов
                        .article__data
                            .data 13 ноября 2018
                        .article__text
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.     
                    .article
                        .article__title 
                            .title.title--article  Почему я выбрала Pug 
                        .article__data 
                            .data 25 ноября 2018
                        .article__text.article__text--last
                            .text
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке нaправлений прогрессивного разватия. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! Новая модель организационной деятельности играет важную роль в формировании систем массового участия.     
include footer 