ul.navigation__list
    li.navigation__item
        a(href="#").navigation__link Мои работы 
    li.navigation__item
        a(href="#").navigation__link Обо мне 
    li.navigation__item
        a(href="#").navigation__link Блог