footer.footer.footer--about
  .footer__content
    ul.footer__list
      li.footer__item
        .footer__subt Этот сайт сделал в рамках обучения в Школе онлайн образования Loftschool.
      li.footer__item
        .footer-navigation
          ul.footer-navigation__list
            li.footer-navigation__item
              a(href="my-works.html").footer-navigation__link Мои работы
            li.footer-navigation__item 
              a(href="about.html").footer-navigation__link Обо мне
            li.footer-navigation__item 
              a(href="blog.html").footer-navigation__link Блог
            li.footer-navigation__item 
              a(href="index2.html").footer-navigation__link Авторизация
        .footer__socials
          ul.socials.socials--footer
            li.socials__item
                a(href="#").socials__item-link
                  svg.social__item-svg--footer(style="width: 30; height: 30px")
                      use(xlink:href="assets/images/icons/sprite.svg#vk")
            li.socials__item
                a(href="#").socials__item-link
                    svg.social__item-svg--footer(style="width: 30; height: 30px")
                        use(xlink:href="assets/images/icons/sprite.svg#github")
            li.socials__item
                a(href="#").socials__item-link
                  svg.social__item-svg--footer(style="width: 30; height: 30px")
                      use(xlink:href="assets/images/icons/sprite.svg#in") 
      li.footer__item
        .footer__contacts
          ul.footer-contact
            li.footer-contact__item skype- Gakhramanova Chinara
            li.footer-contact__item
              a.footer-contact__item-link(href="#") chinarachinara2001@mail.ru
            li.footer-contact__item
              a.footer-contact__item-link(href="tel:+79312009324") +7 931 200 93 24
            li.footer-contact__item г.Санкт-Петербург  
    include copyright