.header__social
    ul.socials
        li.socials__item
            a(href="#").socials__item-link
                svg.social__item-svg--header(style="width: 35; height: 35px")
                    use(xlink:href="assets/images/icons/sprite.svg#in")
        li.socials__item
            a(href="#").socials__item-link
                svg.social__item-svg--header(style="width: 35; height: 35px")
                    use(xlink:href="assets/images/icons/sprite.svg#github")
        li.socials__item
            a(href="#").socials__item-link
                svg.social__item-svg--header(style="width: 35; height: 35px")
                    use(xlink:href="assets/images/icons/sprite.svg#in") 
.header__burger
    button.burger
        .burger__button