.section.hero
    include header2
    .header__ch
        .user
            .user__photo
                img.photo.photo--photo(src="assets/images/myphoto.jpg", alt="photo")
            .user__title
                h2.title.title--ch Чинара Гахраманова
            .user__subtitle
                h4.subtitle Личный сайт веб разработчика
        .down
            button.down-button
                svg.down__svg(style="width: 30px; height: 20px;")
                    use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
.my-works
    .my-works__bg
    .my-works__title
        .title.title--works мои работы
    .my-works__container 
        .my-works__col-left
            .my-works__name
                h2.title.title--worksname сайт школы онлайн образования
            .my-works__skill
                .subtitle.subtitle--works html, scc, javascript
            .my-works__click
                button.my-works__button Посмотреть сайт
        .my-works__col-right
            .works__slider
                ul.slider
                    li.slider__item.slider__item--active
                        img.slider__pic(src="assets/images/works.png", alt="works")
                    li.slider__item
                        button.slider__down
                            svg.slider__down-svg(style="width: 50px; height: 30px;")
                                use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
                        img.slider__pic(src="assets/images/second-works.png", alt="works")
                    li.slider__item
                        button.slider__up
                            svg.slider__up-svg(style="width: 50px; height: 30px;")
                                use(xlink:href="assets/images/icons/sprite.svg#arrow_up")
                        img.slider__pic(src="assets/images/third-works.png", alt="works")
.about-me
    .about-me__container
        .about-me__title
            .title.title--about-me что обо мне говорят 
        .about-me__comments
            ul.comments
                li.comments__item
                    .user
                        .user__photo
                            img.photo.photo--comments(src="assets/images/myphoto.jpg", alt="photo")  
                        .user__text
                            p Этот парень проходил обучение веб-разработке не где то,а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .user__title
                            h2.title.title--name Ковальчук Дмитрий
                        .user__subtitle
                            h3.subtitle.subtitle--name - основатель Loftschool
                li.comments__item
                    .user
                        .user__photo
                            img.photo.photo--comments(src="assets/images/myphoto.jpg", alt="photo")  
                        .user__text
                            p Этот парень проходил обучение веб-разработке не где то,а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .user__title
                            h2.title.title--name Ковальчук Дмитрий
                        .user__subtitle
                            h3.subtitle - основатель Loftschool


    
