.section.hero
    include header2
    .header__ch
        .user
            .user__photo
                img.photo.photo--photo(src="assets/images/myphoto.jpg", alt="photo")
            .user__title
                h2.title.title--ch Чинара Гахраманова
            .user__subtitle
                h4.subtitle Личный сайт веб разработчика
        .down.down--down
            button.down-button
                svg.down__svg(style="width: 30px; height: 20px;")
                    use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
.my-works
    .my-works__bg
    .my-works__title
        .title.title--works мои работы
    .my-works__container 
        .my-works__col-left
            .my-works__name
                h2.title.title--worksname 1 сайт школы онлайн образования
            .my-works__skill
                .subtitles html, scc, javascript
            .my-works__click
                a.my-works__link Посмотреть сайт
        .my-works__col-right
            .works__slider
                .slider
                    .slider__item.slider__item--up
                        img.slider__pic--up(src="assets/images/works.png", alt="works")
                    .sliders
                        .slider__item--down
                            button.slider__down--down
                                //- svg.slider__down-svg(style="width: 50px; height: 30px;")
                                //-     use(xlink:href="assets/images/icons/sprite.svg#arrow_down")
                            img.slider__pic--down(src="assets/images/second-works.png", alt="works")
                        .slider__item--down
                            button.slider__up--down
                                //- svg.slider__up-svg(style="width: 50px; height: 30px;")
                                //-     use(xlink:href="assets/images/icons/sprite.svg#arrow_up")
                            img.slider__pic--down(src="assets/images/third-works.png", alt="works")
.about-me
    .about-me__container
        .about-me__title
            .title.title--about-me что обо мне говорят 
        .about-me__comments
            ul.comments
                li.comments__item
                    .user
                        .user__photo.user__photo--up
                            img.photo.photo--comments(src="assets/images/photo1.png", alt="photo")  
                        .user__text
                            p Этот парень проходил обучение веб-разработке не где то,а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .user__title
                            h2.title.title--username Ковальчук Дмитрий
                        .user__subtitle
                            h3.subtitle.subtitle--name - основатель Loftschool
                li.comments__item
                    .user
                        .user__photo.user__photo--up
                            img.photo.photo--comments(src="assets/images/photo2.png", alt="photo")  
                        .user__text
                            p Этот парень проходил обучение веб-разработке не где то,а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .user__title
                            h2.title.title--username Сабанцев Владимир
                        .user__subtitle
                            h3.subtitle - преподаватель
        .about-me__connect
            .about-me__blackblock
                form.form-connect 
                    .form-connect__title 
                        .title.title--formcon связаться со мной
                    .form-connects
                        label.form-connect__block
                            input.form-connect__input(type="text" name="name" placeholder="Ваше имя" required)
                        label.form-connect__block
                            input.form-connect__input(type="text" name="email" placeholder="Ваш email" required)
                        label.form-connect__block
                            textarea.form-connect__input.form-connect__input--mess(type="text" name="message" placeholder="Ваше сообщение" required)
            ul.navigation
                li.navigation__item.navigation__item--form-connect
                    a.navigation__links.navigation__links--send(href="#" type="submit") Отправить
                li.navigation__item
                    a.navigation__links.navigation__links--clean(href="#") Очистить
            .up
            button.up__button
                svg.up__svg(style="width: 30px; height: 20px;")
                    use(xlink:href="assets/images/icons/sprite.svg#arrow_up")
        include footer 