ul.socials.socials--user
    li.socials__item
        a(href="#").socials__item-link
            svg.social__item-svg.social__item-svg--user(style="width: 30; height: 30px")
                use(xlink:href="assets/images/icons/sprite.svg#vk")
    li.socials__item
        a(href="#").socials__item-link
            svg.social__item-svg.social__item-svg--user(style="width: 30; height: 30px")
                use(xlink:href="assets/images/icons/sprite.svg#github")
    li.socials__item
        a(href="#").socials__item-link
             svg.social__item-svg.social__item-svg--user(style="width: 30; height: 30px")
                use(xlink:href="assets/images/icons/sprite.svg#in") 