ul.socials
    li.socials__item
        a(href="#").socials__item-link
            svg.social__item-svg(style="width: 35; height: 35px")
                use(xlink:href="assets/images/sprite.svg#vk")
    li.socials__item
        a(href="#").socials__item-link
            svg.social__item-svg(style="width: 35; height: 35px")
                use(xlink:href="assets/images/sprite.svg#github")
    li.socials__item
        a(href="#").socials__item-link
             svg.social__item-svg(style="width: 35; height: 35px")
                use(xlink:href="assets/images/sprite.svg#in") 