.blog {
    display: flex;
}
.information {
    width: 270px;
    position: sticky;
}
.section-hero--blog {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.information__content {
    font-size: 20px;
}
.down__svg {
    fill:hsla(0,0%,98%,.7);
}
.down__svg:hover{
    fill: white;
}
p {
    padding-bottom: 10px;
}
.information__item {
    display: flex;
    justify-content: flex-end;
}
.information__link:hover {
    color: #0b42b0;
    border-right: 2px solid #0b42b0;;
}
.blog__container {
    width: 50%;
    margin-left: 100px;
}
.information__link {
    background: transparent;
    font-size: 17px;
    text-align: right;
    color: #425c66;
    display: block;
    padding: 15px 15px 10px 0;
}
.title--blog {
    justify-content: center;
    color: white;
    font-size: 55px;
    text-transform: uppercase; 
    font-weight: 700;
}
.title--article {
    font-size: 30px;
    font-weight: 700;
    justify-content: left;

}
.text {
    position: relative;
}
.article__data {
    padding: 15px 0;
    color: #8088b0;
}
.article {
    padding: 60px 0;
    border-bottom: 5px solid #ebeae1;
    &:first-child{
        padding-top: 0;
    }

    &:last-child {
        border-bottom: none;
    }
}
.section-blog {
    background-color: #fff;
    color: #425c66;
    
    display: flex;
    padding-bottom: 185px;
    position: relative;
}
.blog-bg {
    background-color: #fff;
    bottom: 100%;
    clip-path: polygon(0 0,50% 70%,100% 0,100% 100%,0 100%);
    height: 220px;
    position: absolute;
    width: 100%; 
}